<mat-card>
  <sx-search-title title="Pendientes de autorización" (search)="onSearch($event)">
    <mat-checkbox class="options">Automático</mat-checkbox>
    <button mat-menu-item class="actions" (click)="load()">
      <mat-icon>refresh</mat-icon> Refrescar</button>

  </sx-search-title>
  <mat-divider></mat-divider>
  <div class="sols-panel" *tdLoading="'loading'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'">
    <sx-solicitudes-pendientes-table #table [solicitudes]="pendientes" (select)="onSelect($event)"></sx-solicitudes-pendientes-table>
  </div>
</mat-card>
