<mat-card [style.height.vh]="82" flex>
  <sx-search-title title="Cobros registrados" (search)=onSearch($event)>
    <ng-container class="options">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Fecha Ini" [(ngModel)]="fecha">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="pad-left pad-right">
        <input matInput [matDatepicker]="picker2" placeholder="Fecha fin" [(ngModel)]="fecha2">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="pad-left pad-right">
        <input matInput placeholder="Importe" [(ngModel)]="importe" [ngModelOptions]="{updateOn: 'blur'}" type="number">
        <span matPrefix>$&nbsp;</span>
      </mat-form-field>
    </ng-container>

    <button mat-menu-item class="actions">
      <mat-icon>refresh</mat-icon> Refrescar
    </button>
    <button mat-menu-item class="actions" (click)="insert()">
      <mat-icon>add</mat-icon> Agregar
    </button>
  </sx-search-title>
  <div class="cobros-table-container">
    <ng-template tdLoading [tdLoadingUntil]="!procesando" tdLoadingStrategy="overlay">
      <sx-cobros-table [cobros]="cobros$ | async" (select)="onSelect($event)"></sx-cobros-table>
    </ng-template>
  </div>
</mat-card>
<a mat-fab color="accent" class="mat-fab-bottom-right" [routerLink]="['create']">
  <mat-icon>add</mat-icon>
</a>
