<mat-card layout>
  <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
    <span class="push-left-sm">
      <span class="mat-title">Depositos autorizados</span>
    </span>
    <span class="pad-left tc-indigo-600"> TRANSFERENCIA: {{totalTransferencia$ | async | currency: 'USD':1.2-2}}</span>
    <span class="pad-left tc-indigo-600"> DEP CHEQUE: {{totalCheque$ | async | currency: 'USD':1.2-2}}</span>
    <span class="pad-left tc-indigo-600"> DEP EFECTIVO: {{totalEfectivo$ | async | currency: 'USD':1.2-2}}</span>
    <span flex></span>
    <span>
      <button mat-icon-button (click)="load()">
        <mat-icon>refresh</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="toolbarMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #toolbarMenu="matMenu">
        <button mat-menu-item [disabled]="selectedRows.length===0" (click)="registrarBatch()">Registrar</button>
      </mat-menu>
    </span>
  </div>
  <div layout layout-align="start center" class="filter-panel pad-left-sm pad-right-sm">
    <td-search-input placeholder="Sucursal" showUnderline="true" (searchDebounce)="searchSucursal($event)" class="pad-right"></td-search-input>
    <td-search-input placeholder="Folio" showUnderline="true" (searchDebounce)="searchFolio($event)" class="pad-right"></td-search-input>
    <td-search-input placeholder="Cliente" showUnderline="true" (searchDebounce)="searchCliente($event)" flex class="pad-right"></td-search-input>
    <td-search-input type="number" placeholder="Total" showUnderline="true" (searchDebounce)="searchTotal($event)" class="pad-right"></td-search-input>
    <td-search-input placeholder="Banco destino" showUnderline="true" (searchDebounce)="searchBanco($event)" class="pad-right">
    </td-search-input>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Fecha deposito" (dateChange)="searchFecha($event.value)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="picker2" placeholder="Fecha cobranza" (dateChange)="searchFechaCobranza($event.value)">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </div>
  <ng-template tdLoading [tdLoadingUntil]="!procesando" tdLoadingStrategy="overlay" flex>
    <div layout class="table-panel">
      <td-data-table [data]="solicitudes$ | async" [columns]="columns" class="table" [selectable]="true" [(ngModel)]="selectedRows"
        (selectAll)="selectionChange()" (rowSelect)="selectionChange()" flex>

        <ng-template tdDataTableTemplate="total" let-value="value">
          <span>{{value | currency: 'USD': 1.2-2 }}</span>
        </ng-template>

        <ng-template tdDataTableTemplate="sucursal" let-value="value" let-row="row">
          <span class="text-md" layout="column">
            <span>{{row.sucursal.nombre}}</span>
          </span>
        </ng-template>

        <ng-template tdDataTableTemplate="fechaDeposito" let-value="value">
          <span>{{value | date: 'dd/MM/yyyy' }}</span>
        </ng-template>
        <ng-template tdDataTableTemplate="fechaCobranza" let-value="value">
          <span>{{value | date: 'dd/MM/yyyy' }}</span>
        </ng-template>
        <ng-template tdDataTableTemplate="cobro.dateCreated" let-value="value">
          <span>{{value | date: 'dd/MM/yy HH:mm' }}</span>
        </ng-template>
        <ng-template tdDataTableTemplate="cobro.formaDePago" let-value="value">
          <abbr title="{{value}}">{{getFormaDePago(value)}}</abbr>
        </ng-template>
        <ng-template tdDataTableTemplate="registrar" let-value="value" let-row="row">
          <button mat-button color="primary" *ngIf="!row.cobro.ingreso" (click)="registrarIngreso(row)">Registrar</button>
          <mat-icon *ngIf="row.cobro.ingreso" class="tc-green-500">done</mat-icon>
        </ng-template>
      </td-data-table>
    </div>
  </ng-template>

  <mat-divider></mat-divider>
</mat-card>