<td-data-table #dataTable [data]="filteredData" [columns]="columns" [selectable]="selectable" [clickable]="true" [multiple]="true"
  [style.height.px]="570" [sortable]="true" [sortBy]="sortBy" [(ngModel)]="selectedRows" [sortOrder]="sortOrder" (sortChange)="sort($event)"
  (rowSelect)="selectionChange()" (selectAll)="selectionChange()">
  <ng-template tdDataTableTemplate="delete" let-row="row">
    <button mat-icon-button (click)="delete.emit(row)">
      <mat-icon color="warn">delete</mat-icon>
    </button>
  </ng-template>
  <ng-template tdDataTableTemplate="folio" let-row="row" let-value="value" layout layout-align="center center">
    <button mat-button (click)="select.emit(row)">
      {{value}}
    </button>
  </ng-template>
</td-data-table>
<div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
  <h3>No hay movimientos.</h3>
</div>
<td-paging-bar #pagingBar [pageSize]="pageSize" [total]="filteredTotal" (change)="page($event)">
  <span hide-xs>Registros por pagina:</span>
  <mat-select [style.width.px]="10" [(ngModel)]="pageSize">
    <mat-option *ngFor="let size of [10,50,100,500]" [value]="size">
      {{size}}
    </mat-option>
  </mat-select>
  {{pagingBar.range}}
  <span hide-xs>of {{pagingBar.total}}</span>
</td-paging-bar>